{{#*inline "page"}}
    <div class="jumbotron">
        <h1 class="display-3">Could not find this page (404)!</h1>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Go back</a>
        </p>
    </div>
{{/inline}}
{{~> (parent)~}}
