{{#*inline "page"}}
    <div class="jumbotron">
        <h1 class="display-3">Welcome back!</h1>
        <p class="lead">
            Login to access Gears.
        </p>
    </div>

    <div class="row">
        <div class="col">
            <h1>Sign up</h1>
            <form action="/auth/signup" method="post">
                <div class="form-group">
                    <label for="reqdispname">Display Name</label>
                    <input type="text" class="form-control" id="reqdispname" placeholder="Johnny Doe" name="displayname">
                </div>
                <div class="form-group">
                    <label for="reqemail">Email address</label>
                    <input type="email" class="form-control" id="regemail" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="regpass">Password</label>
                    <input type="password" class="form-control" id="regpass" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col">
            <h1>Sign in</h1>
            <form action="/auth/login" method="post">
                <div class="form-group">
                    <label for="loginemail">Email address</label>
                    <input type="email" class="form-control" id="loginemail" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                    <label for="loginpass">Password</label>
                    <input type="password" class="form-control" id="loginpass" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{{/inline}}
{{~> (parent)~}}
