{{#*inline "page"}}
    <div class="jumbotron">
        <h1 class="display-3">Welcome back!</h1>
        <p class="lead">
            Login to access Gears.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/signin" role="button">Log in</a>
            <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up</a>
        </p>
    </div>
{{/inline}}
{{~> (parent)~}}
